
<%- include('header') -%> 
<%- include('navbar') -%> 
  <div class="container col-8 mt-2">
    <div class="row mb-2">
      <div class="col-sm-10 col-12 mt-2">
        <h2>Account <b>Settings</b></h2>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow" style="border-radius: 15px;">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <i class="fas fa-user fa-7x fa-fw"></i>
                <div class="mt-3">
                  <h4>Teszt Elek</h4>
                  <hr class="my-3">
                  <p class="text-secondary mb-1">Door Number</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow" style="border-radius: 15px;">
            <div class="card-body">
              <form>
                <div class="row mb-3">
                  <div class="col-sm-3 d-flex align-items-center">
                    <label class=" h6 mb-0" for="name">Full Name</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input name="name" id="name" type="text" class="form-control" value="Teszt Elek">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3 d-flex align-items-center">
                    <label class="h6 mb-0" for="email">Email</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input name="email" id="email" type="text" class="form-control" value="teszt.elek@ecsetelek.hu">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3 d-flex align-items-center">
                    <label class=" h6 mb-0" for="doornum">Door Number</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input name="doornum" id="doornum" type="text" class="form-control" value="1/A">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <a type="button" href="login.html" id="delete_button" class="btn btn-danger float-left">Delete</a>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="submit" class="btn btn-primary float-right ml-2" value="Save">
                    <a type="button" href="account.html" class="btn btn-secondary float-right">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%> 