<%- include('header') %> 
<div class="container">
    <div class="row"
      style="display: flex; justify-content:center; align-items: center; text-align:left; min-height:100vh;">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 card" style="border-radius: 15px;">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
        <%- include('errorbox') %> 
        <form method="post" class="mx-1 mx-md-4">
          <div class="d-flex flex-row align-items-center mb-2">
            <p style="padding: 0px 0px 10px 0px"><i class="fas fa-envelope  fa-lg me-3 fa-fw"></i></p>
            <div class="form-outline flex-fill mb-0">
              <input type="email" name="email" id="email" class="form-control" />
              <label class="form-label" for="email_address">Your Email</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-2">
            <p style="padding: 0px 0px 10px 0px"><i class="fas fa-lock fa-lg me-3 fa-fw"></i></p>
            <div class="form-outline flex-fill mb-0">
              <input type="password" name="password" id="password" class="form-control" />
              <label class="form-label" for="password">Password</label>
            </div>
          </div>

          <div class="form-outline flex-fill pl-4">
            <a href="newpass">Forgot password</a>
          </div>

          <div class="form-outline flex-fill pl-4">
            <a href="registration">Registration</a>
          </div>

          <div class="d-flex float-right  mb-4 mb-lg-4">
            <button type="submit"  href="/login" class="btn btn-primary btn-lg ">Login</button>
          </div>

        </form>

      </div>
    </div>
  </div>
  <%- include('footer') %> 