<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand col-2" href="/">
        <img src="/rent_logo.png" height="50" alt="Rental System">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-7" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/inventory">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/request">Rental Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/rented">Rented Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/rental">Rental</a>
        </li>
      </ul>
    </div>
    <div class="col-2 d-flex">
      <a class="btn-sm btn-danger nav-link font-weight-bold" style="color: #eeee;" href="/logout">Sign out</a>
    </div>
  </nav>