<%- include('header') %> 
<%- include('navbar') %> 

    <div class="container col-8 mt-2">
            <div class="row mb-2">
                <div class="col-sm-10 col-12 mt-2"><h2>Rented <b>Items</b></h2></div>
            </div>
        <table class="table mb-1 bg-light rounded shadow">
            <thead class="bg-dark text-white">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>From Date</th>
                <th>To Date</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-screwdriver fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-1 font-weight-bold">ItemName</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 font-italic">ItemType</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 08:00</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 12:00</p>
                    </td>
                  </tr>
                  <tr class="table-info">
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-screwdriver fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-1 font-weight-bold">ItemName</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 font-italic">ItemType</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2021-01-11 08:00</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2021-04-11 12:00</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-screwdriver fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-1 font-weight-bold">ItemName</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 font-italic">ItemType</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2022-05-11 08:00</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold">2022-05-12 08:00</p>
                    </td>
                  </tr>
            </tbody>
          </table>
    </div>
    <%- include('footer') %> 
