<%- include('header') %> 
<%- include('navbar') %> 

    <div class="container col-8 mt-2">
            <div class="row mb-2">
                <div class="col-sm-10 col-12 mt-2"><h2>Rental <b>Requests</b></h2></div>
            </div>
        <table class="table mb-1 bg-light rounded shadow">
            <thead class="bg-dark text-white">
              <tr>
                <th>Person</th>
                <th>Item</th>
                <th>From Date</th>
                <th>To Date</th>
                <th class="pl-4">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-user fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-0 font-weight-bold">Person Name</p>
                          <p class="fw-bold mb-1">Door Number</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="fw-normal mb-1 font-italic">ItemName</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 08:00</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 12:00</p>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-warning">
                               <i class="fas fa-check fa-lg fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-danger">
                              <i class="fas fa-trash fa-lg fa-fw"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-user fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-0 font-weight-bold">Person Name</p>
                          <p class="fw-bold mb-1">Door Number</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="fw-normal mb-1 font-italic">ItemName</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 08:00</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 12:00</p>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-warning">
                               <i class="fas fa-check fa-lg fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-danger">
                              <i class="fas fa-trash fa-lg fa-fw"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-user fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-0 font-weight-bold">Person Name</p>
                          <p class="fw-bold mb-1">Door Number</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="fw-normal mb-1 font-italic">ItemName</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 08:00</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 12:00</p>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-warning">
                               <i class="fas fa-check fa-lg fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-danger">
                              <i class="fas fa-trash fa-lg fa-fw"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-user fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-0 font-weight-bold">Person Name</p>
                          <p class="fw-bold mb-1">Door Number</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="fw-normal mb-1 font-italic">ItemName</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 08:00</p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold">2022-11-11 12:00</p>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-warning">
                               <i class="fas fa-check fa-lg fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm btn-rounded text-danger">
                              <i class="fas fa-trash fa-lg fa-fw"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
            </tbody>
          </table>
    </div>
    <%- include('footer') %> 
